// :root {--mdc-fab-container-color: #ffabf3;
// }
.player{
    background-color:#ffffff50;
    height:60px;
    padding:10px;
    display:flex;
    width:300px;
    align-items:center;
    gap:15px;
    border-radius: 10px;
    span{
        font-size: 1.5rem;
        font-weight:600;
        color:rebeccapurple;
    }
    .player-name{
        font-size:2rem;
        font-variant-caps: all-small-caps;
    }
    >img{
        align-self:center;
        justify-self: right;
        background-color:white;
        border:2px solid rebeccapurple;
        width:50px;
        height:50px;
        padding:5px;
        object-fit:contain;
        border-radius: 50%;

    }
}