@import "./../../styles.scss";


.player{
    background-color:#ffffff50;
    height:40px;
    padding:10px;
    display:flex;
    width:250px;
    align-items:center;
    gap:15px;
    border-radius: 10px 0 0 10px;
    span{
        font-size: clamp(1rem, 2vw, 1.5rem);
        font-weight:600;
        color:rebeccapurple;
    }
    .player-name{
        font-size: clamp(1.2rem, 3vw, 2rem);
        font-variant-caps: all-small-caps;
    }
    .iconCircle{
        background-color:white;
        border:1.6px solid rebeccapurple;
                border-radius: 50%;
                        padding:4px 5px 5px 4px;
                        width:40px;
                        aspect-ratio:1;
                        height:40px;

     >img{
        align-self:center;
        justify-self: right;
 
        aspect-ratio:1;
        height:100%;

        object-fit:contain;


    }
    }
    @media (max-width:800px){
        width:max-content;
        height:30px;
        padding:5px 10px 5px 5px;
        gap:10px;
        .iconCircle{
            width:30px;
            height:30px;
            margin-left:5px;
            padding:2px 3px 3px 4px;
            >img{
                height:100%;
            }
        }
        span{
            font-size: clamp(0.8rem, 4vw, 1.2rem);
        }
        .player-name{
            font-size: clamp(1rem, 5vw, 1.5rem);
        }
    }   

}
.player-active{
    background-color:#ffffff;
    box-shadow: 0 0 10px 2px rebeccapurple;
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}