@import "./../../styles.scss";


.start-screen{
    max-width:400px ;  
     background: linear-gradient(to bottom right,#a2193a, #391c09);
    width:100%;
     box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    aspect-ratio:1.57;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border: 1px solid $cardColor-red;
    padding:2rem 0;
    border-radius:20px;
    >img{
        width:260px;
        height:auto;   
    }
    @media (max-height: 636px){
        aspect-ratio:unset;
        height:100vh;
      
    }
    @media(max-width:400px){
        aspect-ratio:unset;
        max-width:unset;
        width: 96vw;
        >img{
            width:clamp(100px,150px,260px);
        }
        }
}

.startgame{
    font-family:'Methamorphous normal', sans-serif;
    font-size:3rem;
    color:white;
    text-align:center;
    margin:auto;
    padding:2rem;
    display: flex;
        background-color: transparent;
    border: transparent;

    justify-content: center;
    align-items: center;
    position: relative;
    >img {

        width:300px;
        height:auto;   
    }
    &:hover{   
        >img{  filter:brightness(1.1);}
        cursor:pointer;
        transition: all 0.3s ease-in-out;
        } 

    @media (max-width:400px){
        font-size:clamp(2rem,8vw,3rem);
        margin:0;
        padding:10px;
        >img{
            width:200px;
            height:80px
        }   
    }
}
h2{
    font-family:'ArchitectsDaughter normal', sans-serif;
    position: absolute;
   margin-bottom: 15px;
    font-size: 30px;
    color: #9f4a0e;
    @media (max-width:400px){
        font-size:clamp(30px,6vw,30px);
    }   
}

