@import "./../../../styles.scss";

.card-frame {
  height: 100%;
}
.card-content {
  background-color: rgb(255, 255, 240);
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
  width: 100%;
  height: 100%;

  > div {
    // border: 1px solid yellowgreen;
    position: absolute;
  }
  > .card-short {
    font-size: 3rem;
    display: flex;
    padding: 0 8px 16px;
    height: 120px;
    font-weight: bold;
    font-family: "RibEyeMarrow normal", Courier, monospace;
    background-color: rgb(255, 255, 240);
    top: 10px;
    left: 2px;
    flex-direction: column;
    > .card-symbol {
      opacity: 1;
      width: 40px;
    }

    &.reverse {
      top: unset;
      left: unset;
      //   width: 60px;
      //   height: 60px;
      margin-bottom: 10px;

      transform: rotate(180deg);
      bottom: 0;
      right: 2px;
      > .card-symbol {
        opacity: 1;
        width: 40px;
      }
    }
  }

  > .card-task {
    top: 55%;
    font-size: 1.5rem;
    color: rgba(53, 46, 46, 1);
    width: 80%;
    text-align: center;
  }
  > .card-moodpic {
    top: 20%;
    font-size: 1.8rem;
    width: 90%;
    text-align: center;
  }
  > .card-color {
    font-size: 3rem;
    padding: 0 10px;
    font-weight: bold;
    font-family: "RibEyeMarrow normal", Courier, monospace;
    width: 160px;
    height: 160px;
    top: 130px;
    left: -10px;
    z-index: 0;
    > .card-symbol {
      opacity: 0.4;
      width: 40px padding-botto;
    }
  }
}
