<button mat-mini-fab 
        color="accent" 
        (click)="toggleFullscreen()" 
        class="fullscreen-btn"
        [attr.aria-label]="isFullscreen ? 'Vollbild beenden' : 'Vollbild aktivieren'">
  <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
</button>

<div class="player-list" >
    <app-player 
    *ngFor="let player of game?.players; let i = index" 
            [ngStyle]="{'top.px': 350 + (i * 80)}"
            [playerActive]="i == game?.currentPlayer" 
            [name]="player"
            [playerIndex]="i"
            [playerImage]="game?.playerImages?.[i] || 'beer.svg'"
            (playerClicked)="editPlayer($event)"
            class="players">
  </app-player>

</div>
<div class="field" [ngClass]="{ 'expand': isExpanded }">
    <div class="title" [class.fly-in]="showTitle">
        <img class="logo" src="assets/img/logo.png">
        <h1>KING'S&nbsp;CUP</h1>
    </div>

<div class="card-container">
  <div class="card-stack-area">
    <div *ngIf="stackCount.length === 0" class="empty-stack-options">
    <button mat-raised-button color="primary" (click)="reshuffleCards()" class="reshuffle-btn">
      <mat-icon>shuffle</mat-icon>
      <span class="newcards">Keep&nbsp;Playing!</span>
    </button>
    <button mat-raised-button color="warn" (click)="startNewGame()" class="new-game-btn">
      <mat-icon>refresh</mat-icon>
     <span class="newgame">NEW&nbsp;GAME</span> 
    </button>
  </div>
    <div class="cardback" [ngStyle]="{'right.px':i*2,'top.px':i*-1}"
        *ngFor="let c of stackCount; let i = index;">
      <img src="assets/img/cardbackside.png">
    </div>
<div style="right:25px" 
     *ngIf="stackCount.length > 0"
     (click)="takeCard()" 
     class="cardback pick-card">
  <img src="assets/img/cardbackside.png">
</div>
  </div>
  
  <div class="played-cards-area">
    <div *ngFor="let card of game?.playedCards; let i = index"
        [style.transform]="'rotate(' + getRandomRotation(i) + 'deg)'"
        class="playedCard">
      <img src="assets/img/cards/{{ card }}">
    </div>


  <div id="newCard" *ngIf="takeCardAnimation" [class.pick]="takeCardAnimation" (click)="takeCard()">
      <img src="assets/img/cards/{{ currentCard }}">
</div>
</div>
</div>
    <div class="pin-rule">
<app-game-rule [card]="currentCard"></app-game-rule>
    <button mat-fab color="--mdc-fab-container-color"
        class="addPerson" (click)="openDialog()"> <img src="assets/img/beer_empty.svg" alt="Add Player" class="addBeer">
        <mat-icon class="addIcon">add</mat-icon>
    </button></div>
</div>