@import "./../../styles.scss";


.field {
  height: 2px;
  display: flex;
  justify-content: center;
  position:relative;
  z-index:1;
  align-items: center;
  background-image: linear-gradient(to top right, fuchsia, #5b4e5f);
  overflow: visible;
  width: 100vw;
      border: 1px solid $cardColor-red;
  &.expand {
    transition: height 1s cubic-bezier(0.4, 0, 0.2, 1);
    height: 60vh;
}
}
  @media (max-height:800px), (max-width:600px){
  .field.expand{  
    height: 70vh !important;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: -30vh !important;
    display: flex;
    align-items: end;
  }
}
.title{
  position: absolute;
      top: clamp(-140px, -14vh, -200px) !important;
  z-index:2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-100px) scale(0.8);
  transition: opacity 0.8s, transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  &.fly-in {
    opacity: 1;
     animation: flyIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  > img {
    top:8%;
    width: 110px;
    height: auto;
    margin-bottom: -20px;
  }
  > h1 {
    top:10%;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;

        @media (max-height:800px){
                  font-size: clamp(2rem, 10vw, 3rem) !important;
        }
        @media (max-width: 400px){
        font-size: clamp(2rem, 10vw, 3rem) !important;
        line-height: normal;
        padding:10px;
       

    }
  }
}

.card-container {
  display: flex;
    position:relative;

  justify-content: center;
  align-items: center;
  gap: clamp(50px, 10vw, 100px); // Responsive Abstand
width:100vw;
 @media (max-height:800px){
  margin-bottom: clamp(20px, 10vh, 100px) !important;
  top:clamp(-30px, -14vh, -200px) !important
 }
  @media (max-height:800px) and (max-width:600px){
    margin-bottom: clamp(20px, 10vh, 100px) !important;
   gap: clamp(20px,5vw, 50px); 
    flex-direction:column;
      top:clamp(-10px, -10vh, -80px) !important

 }
//  @media (max-width:600px){
//    gap: clamp(20px,5vw, 50px); 
//     flex-direction:column;
//       top:clamp(-100px, -14vh, -200px) !important

//  }

}

.card-stack-area, .played-cards-area{
  position: relative;
  display: flex;
  width:clamp(100px, 26vw, 220px) !important;
  aspect-ratio: 0.64;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #e5b6e5d0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
      transition: transform 0.125s ease;
    &.topCard {
    cursor: pointer;
    left: -400px;
    right: 30px;
    top: 2px;
    border: 2px solid $cardColor-red;
    transform: rotate(5deg);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    &:hover {
      transform: rotate(-5deg) scale(1) translateY(-20px);
    }

}
}
    @media (max-width:600px){
       .played-cards-area{
         width:clamp(120px, 40vw, 220px) !important;
       }
       .card-stack-area{
          width:clamp(100px, 20vw, 150px) !important;
        left:-8vh;
       }
     
    }
      @media (max-height:800px) and (max-width:600px){
       .played-cards-area{
         width:clamp(100px, 30vw, 180px) !important;
       }
       }
 
.cardback {
  width: 100%;
  cursor: pointer;
  aspect-ratio: 0.64;
  border-radius: 22px;
  position: absolute;
  box-sizing:border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

  > img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
  }
}
  .takeCard-Animation {
    transition: all 125ms eas-in-out;
  }
#newCard{
 
    width: 220px;
  aspect-ratio: 0.64;
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  border-radius:20px;

}
#newCard.pick{
// transition: all 250ms ease-in-out;
  animation: takeCardAnimation 0.5s ease-in-out forwards;
    transform: scale(1) translateX(-360px) rotate(-3deg); 
  > img{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:20px;
  }

}
  .pick-card{

    transition: all 125ms eas-in-out; 
    transform: rotate(-3deg);
   
    &:hover {
  transform: translate(-10px, -12px) scale(1.05) rotate(8deg);
   }
  }

   .playedCard{
    position: absolute;
    width:100% !important;
    > img{
      width:100%;
      height:100%;
      border-radius:20px;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    } 
    @media (max-width:800px){
      // right: -60px;
    } 
// transform: scale(1) translateX(-360px);
   }
.player-list{
  display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    height: 80%;
    right: 0;
    z-index: 5;
    align-items: end;
    @media (max-height:800px){
      top:-30vh;
      width:150px !important;

    }
}

.players{
  margin: 10px 0 10px 10px;
  @media(max-width:400px){
    margin:5px 0 5px 5px;
  }
}

.addPerson{

    margin:20px;
  position:absolute;
    bottom:0;
    right:0;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    img{
      width:40px; 
      height:40px; 
      position:relative;
      top:2px
    }
    .addIcon{
      z-index:2;
      position:absolute;
      border:1px solid black; 
      border-radius:50%;
      background-color: white;
      bottom:5px; 
      right:5px
    }
@media (max-width: 800px) and (orientation: portrait){
  top:-60px;
}
  }

.pin-rule{
  position: absolute;
 bottom:-5px;
  padding:10px;
 width:100%;
box-sizing:border-box;
  background-color: unset;
  display: flex;

  justify-content: center;
@media (max-width: 800px), (orientation: portrait){
  
    position: fixed !important;
    bottom:0;
  
}
}

app-game-rule{
        width: 80%;
    max-width: 800px;
    min-width: 200px;
    @media (max-width: 800px){
      width: 94vw !important;
    }
}
.displayNone{
  display:none; 
}


  @keyframes flyIn {
    0% {
      transform: translateY(-200px) scale(0.8) rotate(3deg);
    }
    30%{
      transform: translateY(20px) scale(1.1) rotate(-3deg);
    }
    100% {
      transform: translateY(0) scale(1) rotate(0deg);
    }
  } 
  @keyframes takeCardAnimation {
    0% {
      transform: scale(0.9) translateY(-10px) rotate(8deg);
    }
    50%{
      transform: scale(1.05) translateY(-10px) rotate(8deg);
    }
    90%{
      transform: scale(1.2) translateX(-280px) rotate(4deg);
    }
    100% {
      transform: scale(1) translateX(-360px) rotate(-3deg);
    }
  }

