@import "./../../styles.scss";

mat-card{
    padding:20px; 
    display:flex;
    flex-direction: center;
    align-items:center;
    justify-content: center;
    background-color: #00000050 !important;
    color:white;
    border-radius:20px 20px 0 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    mat-card-title{
        font-family: 'Methamorphous normal';
        font-size: clamp(1.5rem, 10%, 2.5rem);
        color:red;
    }
    mat-card-content{
        padding: unset;
        margin:0;
         line-height:1.8rem;
        font-size: 1.8rem;
        margin-top:10px;
    }

}