/* You can add global styles to this file, and also import other style files */

@font-face{
    font-display:swap;
    font-family: 'ArchitectsDaughter normal';
    font-style: normal;
    src: url('assets/font/architectsdaughter-regular-webfont.woff2') format('woff2');
}
@font-face{
    font-display:swap;
    font-family: 'RibEyeMarrow normal';
    font-style: normal;
    src: url('assets/font/ribeyemarrow-regular-webfont.woff2') format('woff2');
}

@font-face{
    font-display:swap;
    font-family: 'Methamorphous normal';
    font-style: normal;
    src: url('assets/font/metamorphous-regular-webfont.woff2') format('woff2');
}


$cardColor-red: orangered;
$cardColor-dark: #8b13a0;

:root {
  --cardColor-red: orangered;
  --cardColor-purple: rebeccapurple;
    --mdc-fab-container-color: #ffabf3;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'ArchitectsDaughter normal', sans-serif !important;

    background-image: url("assets/img/hg_35.png"),
    linear-gradient(to bottom right, #81407d, #130f14);
    background-repeat:repeat, no-repeat;
    background-size: 50px, cover;
    background-position:center,center;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    position: fixed;

app-root{
    width:100%;
    position:fixed;
    display: flex;
    justify-content: center;
}
}
h1{
    font-family:'RibEyeMarrow normal', Courier, monospace;
    font-size: clamp(1.0rem, 10vw, 2.6rem);
        line-height: 70px;
    color: white;
    text-align: center;
    margin-bottom: 2rem;

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-mdc-dialog-container {
  .mdc-dialog__surface {
    border-radius: 20px !important;
    background: linear-gradient(135deg, #f3e7f3 0%, #e1bee1 100%) !important;
    
    .mat-mdc-dialog-title {
      color: rgb(38, 38, 38);
      font-family: 'RibEyeMarrow normal', Courier, monospace;
      font-size: 1.5rem;
    }
    
    .mat-mdc-dialog-content {
      color: rgb(38, 38, 38);
      font-family: 'RibEyeMarrow normal', Courier, monospace;
    }
    
    .mat-mdc-button {
      border-radius: 10px;
      
      &.mat-warn {
        background-color: #f605ea;
        color: white;
      }
    }
  }
}